@model GalleryApp.Models.Photo
@using System.Security.Claims

@{
    ViewData["Title"] = "Photo Details";
    var tags = Model.PhotoHashtags.Select(x => x.Hashtag.Tag).ToList();

    var isAuthenticated = User.Identity?.IsAuthenticated == true;
    var isAdmin = isAuthenticated && User.IsInRole("Admin");
    var currentUserId = isAuthenticated ? User.FindFirstValue(ClaimTypes.NameIdentifier) : null;
    var isOwner = isAuthenticated && currentUserId != null && Model.UserId == currentUserId;

    var canEdit = isAdmin || isOwner;
}

<h2>Photo</h2>

<div class="mb-3">
    <img src="@Url.Action("File", "Photos", new { id = Model.Id })"
         style="max-width: 800px; width: 100%;" />
</div>

<div class="mb-2">
    <strong>Description:</strong>
    <span>@(string.IsNullOrWhiteSpace(Model.Description) ? "(none)" : Model.Description)</span>
</div>

<div class="mb-2">
    <strong>Author:</strong>
    <span>@(Model.User?.Email ?? "Anonymous")</span>
</div>

<div class="mb-2">
    <strong>Uploaded:</strong>
    <span>@Model.UploadedAtUtc.ToLocalTime()</span>
</div>

<div class="mb-2">
    <strong>Hashtags:</strong>
    @if (tags.Count == 0)
    {
        <span>(none)</span>
    }
    else
    {
        <span>@string.Join(", ", tags.Select(t => "#" + t))</span>
    }
</div>

<div class="mt-3 d-flex gap-2">
     @if (User.Identity?.IsAuthenticated == true)
    {
        <a class="btn btn-outline-primary"
        href="@Url.Action("DownloadOriginal", "Photos", new { id = Model.Id })">
            Download original
        </a>
        <a class="btn btn-outline-success"
        href="@Url.Action("DownloadProcessed", "Photos", new { id = Model.Id })">
            Download processed
        </a>
    }
    @if (canEdit)
    {
        <a class="btn btn-outline-secondary"
           href="@Url.Action("Edit", "Photos", new { id = Model.Id })">
            Edit
        </a>
    }
    @if (canEdit)
    {
        <form asp-action="Delete" asp-controller="Photos" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-outline-danger"
                    onclick="return confirm('Delete this photo?');">
                Delete
            </button>
        </form>
    }

</div>
